[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false

[dev-packages]

pytest = "*"
"pytest-django" = "*"
"pytest-cov" = "*"
nose = "*"
"django-nose" = "*"
"django-debug-toolbar" = "==1.8"
coverage = "*"

[packages]

coreapi = "*"
defusedxml = "==0.4.1"
django = "==1.10.4"
"django-autocomplete-light" = "*"
"django-braces" = "*"
"django-environ" = "*"
"django-filter" = "*"
"django-floppyforms" = "*"
"django-rest-swagger" = "*"
djangorestframework = "*"
itypes = "*"
markdown = "*"
oauthlib = "==1.1.2"
"openapi-codec" = "*"
pillow = "*"
py = "==1.4.31"
pyjwt = "*"
pyyaml = "*"
requests = "*"
"requests-oauthlib" = "==0.6.2"
simplejson = "==3.8.2"
"django-webpack-loader" = "*"
"django-rest-auth" = "*"
"psycopg2" = "*"
"django-allauth" = "*"
gunicorn = "*"
raven = "*"
whitenoise = "*"