{% load backend_utils %}
{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>GobGift</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static "gobgift/css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "gobgift/css/style.css" %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://plus.google.com/js/client:plusone.js?onload=start" type="text/javascript"></script>
  </head>
  <body>
  <nav>
    <div class="nav-wrapper green">
      <a href="#" class="brand-logo">GobGift</a>
      <ul id="nav-mobile" class="right side-nav">
        <li><a href="{% url 'home' %}">Accueil</a></li>
        {% if user.is_authenticated %}
        <li><a href="/listes/"> Voir les listes </a></li>
        <li><a href="/logout/"> <i class="fa fa-sign-out"></i> Déconnexion </a></li>
        {% endif %}
      </ul>
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
  <script type="text/javascript" src="{% static "gobgift/js/materialize.min.js" %}"></script>
  <script type="text/javascript">
  $( document ).ready(function(){
      $(".button-collapse").sideNav();
      });
  </script>
  </body>
</html>
