{% extends "gobgift/_layout.html" %}
{% load staticfiles %}
{%block content%}
<script type="text/javascript" src="{% static "gobgift/lib/jquery-1.11.3.js" %}"></script>
<script type="text/javascript" src="{% static "gobgift/lib/jquery.formset-1.1/jquery.formset.min.js" %}"></script>
<script type="text/javascript">
    $(function() {
        $('#groupuser_form tbody tr').formset({
            prefix: '{{ groupuser_form.prefix }}',
            addCssClass: "mdl-button mdl-js-button mdl-button--accent",
            deleteCssClass: "mdl-button mdl-js-button mdl-button--accent",
        });
    })
</script>
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <h1>GobGift <small>Add or Edit Group</small></h1>
        </div>
    </div>
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <form role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}

                <h3>Group users</h3>
                <table id="groupuser_form" class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                      <thead>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">User</th>
                              <th class="mdl-data-table__cell--non-numeric">Admin</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for form in groupuser_form %}
                          <tr>
                              <td class="mdl-data-table__cell--non-numeric">
                                  {{form.user}}
                              </td>
                              <td class="mdl-data-table__cell--non-numeric">
                                  {{form.is_admin}}
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                </table>
                {{groupuser_form.management_form}}
                <br/>
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" value="confirm" />
            </form>
      </div>
    </div>
{% endblock %}
