{% extends "gobgift/_layout.html" %}
{% load i18n %}
{% load url from future %}
{%block content%}
    <div class="page-header mdl-shadow--2dp">
            <div class="mdl-grid container-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h3 class="page-header-title">{% trans "Lists of the group" %} : {{listgroup}}</h3>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'mygroups' %}">{% trans "Back" %}</a>
                </div>
            </div>
    </div>
        <div class="mdl-grid container-grid">
        {% for list in lists %}
            <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col list-card">
                <h3>{{list.name}}</h3>
                <p><b>Owner:</b> {{list.owner.first_name}} {{list.owner.last_name}}</p>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{list.get_view_url}}?from_group={{listgroup.pk}}">{% trans "Show" %}</a>
            </div>
        {% endfor %}
        </div>
{% endblock %}
