{% extends "gobgift/_layout.html" %}
{% load i18n %}
{% load url from future %}
{%block content%}
    <div class="page-header mdl-shadow--2dp">
            <div class="mdl-grid container-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h5 class="page-header-title">{% trans "Lists of the group" %} : {{listgroup}}</h5>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'mygroups' %}">{% trans "Back" %}</a>
                </div>
            </div>
    </div>
        <div class="mdl-grid mdl-grid--no-spacing container-grid container-grid-padding-top">
        {% for list in lists %}
            <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col list-card" onclick="javascript:location.href='{{list.get_view_url}}?from_group={{listgroup.pk}}'">
                <h6>{{list.name}}</h6>
                <p><b>Owner:</b> {{list.owner.first_name}} {{list.owner.last_name}}</p>
                <div class="mdl-layout-spacer"></div>
                <i class="fa fa-gift gift-badge mdl-badge" data-badge={{list.gift_set.count}}></i>
                <div class="mdl-layout--large-screen-only">
                </div>
                <div class="mdl-layout--small-screen-only">
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
