{% extends "_layout.html" %}
{% load i18n %}
{% load socialaccount %}
{% block content %}
    {% providers_media_js %}
    <div class="row">
    <div class="col m3"></div>
    <div class="card col m6">
        <div class="card-content">
            <div class="card-title">
                {% if user.is_authenticated %}
                    <h3 class="mdl-card__title-text">{% trans "Welcome" %}&nbsp;
                        <i>{{ user.first_name }} {{ user.last_name }}</i> !</h3>
                {% else %}
                    <h3 class="mdl-card__title-text">{% trans "Please sign in with Facebook to begin!" %}</h3>
                {% endif %}
            </div>
            <div class="">
                {% if user.is_authenticated %}
                    <ul class="mainmenu">
                        <li><a class="btn" href="{% url "groups:mygroups" %}">{% trans "My groups" %} </a></li>
                        <li><a class="btn" href="{% url "lists:mylists" %}">{% trans "My lists" %} </a></li>
                    </ul>
                {% else %}
                    <div class="row">
                        <a class="btn facebook-btn" name="facebook"
                           href="{% provider_login_url "facebook" method="js_sdk" %}">
                            <i class="fa fa-facebook"></i>
                            {% trans "Sign in with Facebook" %}
                        </a>
                        <a class="btn google-btn" name="google"
                           href="{% provider_login_url "google" method="js_sdk" %}">
                            <i class="fa fa-google"></i>
                            {% trans "Sign in with Google" %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
