{% extends "_layout.html" %}
{% load i18n %}
{% load socialaccount %}
{% block content %}
    {% providers_media_js %}
    <div class="row">
    <div class="col m3"></div>
    <div class="card col m6">
        <div class="card-content">
            <div class="card-title">
                {% if user.is_authenticated %}
                    <h3 class="mdl-card__title-text">{% trans "Welcome" %}&nbsp;
                        <i>{{ user.first_name }} {{ user.last_name }}</i> !</h3>
                {% else %}
                    <h3 class="mdl-card__title-text">{% trans "Please sign in with Facebook to begin!" %}</h3>
                {% endif %}
            </div>
            <div class="">
                {% if user.is_authenticated %}
                    <ul class="mainmenu">
                        <li><a class="btn" href="{% url "groups:mygroups" %}">{% trans "My groups" %} </a></li>
                        <li><a class="btn" href="{% url "lists:mylists" %}">{% trans "My lists" %} </a></li>
                    </ul>
                {% endif %}
                <div class="row">
                    <a class="btn facebook-btn" name="facebook"
                       href="{% provider_login_url "facebook" method="js_sdk" %}">
                        <i class="fa fa-facebook"></i>
                        {% trans "Sign in with Facebook" %}
                    </a>
                </div>
            </div>
            <div class="card-action">
                <a class="btn" href="/media/gobgift.apk">Download
                    Android version 0.1</a>
            </div>
        </div>
    </div>
{% endblock %}
