{% extends "gobgift/_layout.html" %}
{% load i18n %}
{% load url from future %}
{%block content%}
    <div class="page-header mdl-shadow--2dp">
        <div class="mdl-grid container-grid page-header">
            <div class="mdl-cell mdl-cell--12-col">
                <h3 class="page-header-title">GobGift > {% trans "My lists" %}</h3>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'addList' %}"><i class="mdi-content-add right"></i>{% trans "create a new list" %}</a>
            </div>
        </div>
    </div>
        <div class="mdl-grid mdl-grid--no-spacing container-grid container-grid-padding-top">
        {% for list in lists %}
            <div class="mdl-shadow--2dp mdl-cell mdl-cell--12-col list-card">
                <h4>{{list.name}}</h4>
                <p><b>Groups:</b> {{list.groups.all|join:", "}}</p>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-layout--large-screen-only">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{list.get_view_url}}">{% trans "Show" %}</a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{list.get_edit_url}}">{% trans "Edit" %}</a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{list.get_delete_url}}">{% trans "Delete" %}</a>
                </div>
                <div class="phone-actions mdl-layout--small-screen-only">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--icon" href="{{list.get_view_url}}"><i class="material-icons">visibility</i></a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--icon" href="{{list.get_edit_url}}"><i class="material-icons">mode_edit</i></a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--icon" href="{{list.get_delete_url}}"><i class="material-icons">delete</i></a>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
