{% extends "gobgift/_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content  %}
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <h3>Liste {{liste.name}} de <small>{{liste.owner.first_name}} {{liste.owner.last_name}}</small></h3>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'home' %}">Back</a>
            {% if liste.owner.pk == user.pk %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{{liste.get_addgift_url}}"><i class="mdi-content-add right"></i>Ajouter cadeau</a>
            {% endif %}
        </div>
    </div>
    <hr/>
        {% for gift in liste.gift_set.all %}
        <div class="mdl-grid list_gifts_grid">
        <div class="mdl-card mdl-shadow--2dp cyan mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{gift.name}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {% if gift.photo %}
                <a href="{{gift.photo.url}}" ><img width="200" src="{{gift.photo.url}}" alt="{{gift.photo.name}}"></a>
                {% endif %}
                <p>{% if gift.price %}{{gift.price}}${% endif %}</p>
                <p>{% if gift.siteweb %}<a href="{{gift.siteweb}}">{{gift.siteweb}}</a>{% endif %}</p>
                <p>{% if gift.store %}<b>Magasin:</b> {{gift.store}}{% endif %}</p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {% if liste.owner.pk == user.pk %}
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{gift.get_edit_url}}">Edit</a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{gift.get_delete_url}}">Delete</a>
                {% endif %}
                {% if liste.owner.pk != user.pk %}
                <span class="mdl-badge comment-badge" data-badge="{{gift.comment_set.count}}">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">Buy it</a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{gift.get_addcomment_url}}">comments</a>
                </span>
                {% endif %}
            </div>
            {% if liste.owner.pk != user.pk %}
            <div class="mdl-card__supporting-text comments-section">
                Comments
                <form method="post" action="{{gift.get_addcomment_url}}">{% csrf_token %}
                    <div class="mdl-textfield mdl-js-textfield add-comment-input">
                        <input class="mdl-textfield__input" type="text" name="text" id="comment_text_{{gift.pk}}" />
                        <label class="mdl-textfield__label" for="comment_text_{{gift.pk}}">Add a comment</label>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--fab confirm-add-comment-btn">
                        <i class="material-icons">check</i>
                    </button>
                </form>
                {% for comment in gift.comment_set.all %}
                <p>
                <i>{{comment.user}} <span class="comment-date">{{comment.datetime}}</span></i><br/>
                {{comment.text}}
                </p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        </div>
    {% endfor %}
{% endblock %}
