{% extends "gobgift/_layout.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content  %}
    <div class="container">
      <h2>Liste {{liste.name}} de <small>{{liste.owner.first_name}} {{liste.owner.last_name}}</small></h2>
      <a class="btn " href="{% url 'listes' %}">Retour à la liste des listes</a>
      {% if liste.owner.pk == user.pk %}
      <a class="btn" href="{{liste.get_addgift_url}}"><i class="mdi-content-add right"></i>Ajouter cadeau</a>
        <hr/>
      {% endif %}
      {% for gift in liste.gift_set.all %}
      <div class="col s12 m6">
        <div class="card cyan">
          <div class="card-footer">
            <h1>{{gift.name}}</h1>
            <a href="{{gift.photo.url}}" ><img width="200" src="{{gift.photo.url}}" alt="{{gift.photo.name}}"></a>
            <p>{% if gift.price %}{{gift.price}}${% endif %}</p>
            <p>{% if gift.siteweb %}<a href="{{gift.siteweb}}">{{gift.siteweb}}</a>{% endif %}</p>
            <p>{% if gift.store %}<b>Magasin:</b> {{gift.store}}{% endif %}</p>
            {% if liste.owner.pk == user.pk %}
              <a class="card-action" href="{{gift.get_edit_url}}">Modifier</a>
              <a class="card-action" href="{{gift.get_delete_url}}">Supprimer</a>
            {% endif %}
            {% if liste.owner.pk != user.pk %}
              <a class="card-action" href="{{gift.get_addcomment_url}}">Ajouter commentaire</a>
              {% for comment in gift.comment_set.all %}
              <p>
              <i>{{comment.user}} <span class="comment_date">{{comment.datetime}}</span></i><br/>
              {{comment.text}}
              </p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
