{% extends "_layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <script type="text/javascript" src="{% static "lib/jquery.formset-1.1/jquery.formset.min.js" %}"></script>
    {{ form.media }}
    <h5> {% trans "Add group user" %}</h5>
    <div class="divider"></div>
    <div class="card-panel">
        <form role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class=input-field>
                    {{ form.user }}
                </div>
            </div>
            <div class="row">
                {{ form.is_admin }}
                <label for="{{ form.is_admin.id_for_label }}">Admin</label>
            </div>
            <input class="btn" type="submit" value="confirm"/>
            <a class="btn red" href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </form>
    </div>
{% endblock %}
