{% extends "_layout.html" %}
{% load i18n %}
{%block content%}
    <div class="page-header mdl-shadow--2dp">
            <div class="mdl-grid container-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h5 class="page-header-title">{% trans "Lists of the group" %} : {{listgroup}}</h5>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'groups:mygroups' %}">{% trans "Back" %}</a>
                </div>
            </div>
    </div>
        <div class="mdl-grid mdl-grid--no-spacing container-grid container-grid-padding-top">
          <ul class="mdl-list" style="width:100%">
            {% for list in lists %}
            <li class="mdl-list__item mdl-list__item--two-line list-card" onclick="javascript:location.href='{{list.get_view_url}}?from_group={{listgroup.pk}}'">
              <span class="mdl-list__item-primary-content">
                <span>{{list.name}}</span>
                <span class="mdl-list__item-sub-title"><b>Owner:</b> {{list.owner.first_name}} {{list.owner.last_name}}</span>
              </span>
              <span class="mdl-list__item-secondary-content">
                  <i class="fa fa-gift gift-badge mdl-badge" data-badge={{list.gift_set.count}}></i>
              </span>
            </li>
            {% endfor %}
          </ul>
        </div>
{% endblock %}
