{% extends "_layout.html" %}
{% load i18n %}
{% block content %}
    <div>
        <h5>{% trans "Lists of the group" %} : {{ listgroup }}</h5>
        <a class="" href="{% url 'groups:mygroups' %}">{% trans "Back" %}</a>
    </div>
    <div class="divider"></div>
    <div>
        <div class="collection" style="width:100%">
            {% for list in lists %}
                <a class="collection-item avatar" href="{{ list.get_view_url }}?from_group={{ listgroup.pk }}">
                    <i class="material-icons circle">group</i>
                    <span class="title">{{ list.name }}</span>
                    <p>
                        <b>Owner:</b> {{ list.owner.first_name }} {{ list.owner.last_name }}
                    </p>
                    <i class="secondary-content small fa fa-gift gift-badge">({{ list.gift_set.count }})</i>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
