{% extends "_layout.html" %}
{% load i18n %}
{% load object_utils %}
{% block content %}
    <h4>{% trans "My groups" %}</h4>
    <div class="divider"></div>
    {% for group in object_list %}
        <div class="card">
            <div class="card-content listgroup-card">
                <div class="card-title">
                    <h3 class="mdl-card__title-text">{{ group.name }}</h3>
                </div>
                <div>
                    <p><b>{% trans "Owner" %}:</b> {{ group.owner.first_name }} {{ group.owner.last_name }}</p>
                    <b>{% trans "Members" %}:</b> {{ group.users.all|join:", " }}
                </div>
            </div>
            <div class="card-action">
                <a class="btn"
                   href="{{ group.get_view_url }}">{% trans "Show lists" %}</a>
                {% if group.owner == user  or group|method:"is_user_admin"|call_with:user %}
                    <a class="btn"
                       href="{{ group.get_edit_url }}">{% trans "Edit" %}</a>
                {% endif %}
                {% if group.owner == user %}
                    <a class="btn red"
                       href="{{ group.get_delete_url }}">{% trans "Delete" %}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <a class="btn-floating btn-large floating-button green" href="{% url "groups:add" %}"><i
            class="material-icons">add</i></a>
{% endblock %}
