{% extends "_layout.html" %}
{% load i18n %}
{% block content %}
    <h4>{% trans "My lists" %}</h4>
    <div class="divider"></div>
    <div class="">
        <div class="collection" style="width:100%">
            {% for list in object_list %}
                <div class="collection-item avatar list-card" onclick="javascript:location.href='{{ list.get_view_url }}'">
                    <span class="title">{{ list.name }}</span>
                    <p>
                        <b>{% trans "Groups" %}:</b> {{ list.groups.all|join:", " }}
                    </p>
                    <div class="secondary-content">
                    <a class=""
                       href="{{ list.get_edit_url }}"><i
                            class="material-icons">mode_edit</i></a>
                    <a class=""
                       href="{{ list.get_delete_url }}"><i class="material-icons red-text">delete</i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <a class="btn-floating btn-large floating-button" href="{% url 'lists:add' %}"><i
            class="material-icons">add</i></a>
{% endblock %}
