/* Generic */
.container-grid{
    max-width:900px;
    margin: 0 auto;
}
.hide{
    display:none;
}
.show{
    display:block;
}
/* Nav */
.top-nav > a{
    font-size:16px;
    height:60px;
    border-bottom: 5px solid rgba(0,0,0,0);
}
.top-nav > a:hover{
    border-bottom: 5px solid rgba(255,82,82,.80);
}
/* Page header */
.page-header{
    background-color:#ffffff;
}
.page-header-title{
    margin-top:5px;
    margin-bottom:5px;
}

/* forms */
.form-confirm-btn{
    margin-top:10px;
}
/* Main menu */
ul.mainmenu{
    list-style-type: none;
}

ul.mainmenu li{
    margin:10px;
}

.mdl_autocomplete_light{
    margin-top:25px;
}

/* List gifts grid */
.list_gifts_grid{
    max-width:900px;
    margin: 0 auto;
}

/* Facebook button  */
.facebook-btn{
    color: #ffffff;
    background-color: #337AB6;
}

.facebook-btn:hover{
    background-color: #255c95 !important;
}


/* Comments section in gift card */
.comment_date{
  font-size:11px;
  color:#a6a6a6;
}

.comments-section{
    width:100%;
    background-color: #eeeeee;
}

.confirm-add-comment-btn{
    width:32px !important;
    min-width:32px !important;
    height:32px !important;
}

.add-comment-input{
    width:90%;
}

.comment-badge{
    margin: 0px;
    padding:0px;
    color: #868686;
}

.comment-badge::after{
    margin-top: 3px;
    margin-right: 8px;
}

/*  list list card  */
.list-card{
    background-color: #ffffff;
    margin:0px;
    padding:3px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.list-card > h3{
    margin:10px;
}
.list-card > p{
    color:rgba(0,0,0,.54);
    margin-bottom:-15px;
}
