gobgift.kimond.com {
    root /var/www/gobgift
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        transparent
        except /media
    }
    log stdout
    errors stdout
    gzip
}
